<div class="parking-list-container">
  <div class="row">
    <div class="col-xs-6">
      <div class="parking-input-section">
        <span>Total Parking Slots - </span>
        <span class="text-danger" [innerText]="car_parking_tool.total_parking_slots"></span>
      </div>
      <div class="parking-input-section">
        <span>Available Parking Slots - </span>
        <span class="text-danger" [innerText]="car_parking_tool.car_details.length"></span>
      </div>
    </div>
    <div class="col-xs-6 text-right">
      <button class="btn btn-sm btn-success query-btn">Query Data</button>
      <button class="btn btn-sm btn-danger" [disabled]="car_parking_tool.car_details.length === 10" (click)="parkCar(template)">Park a Car</button>
    </div>
    <div class="pull-right search-section">
      <div class="col-xs-6">
        <input autocomplete="off" type="text" class="form-control" name="search_parking_number" [(ngModel)]="car_parking_tool.parking_number"
          placeholder="Type Reg No" maxlength="1024" required #search_parking_number="ngModel">
      </div>
      <div class="btn-group color-dropdown" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-sm btn-default dropdown-toggle" auto-close="outsideClick">
          Choose Color
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="actionList">
          <li role="menuitem" *ngFor="let color of car_parking_tool.color_section">
            <a class="dropdown-item" [innerText]="color.color"></a>
          </li>
        </ul>
      </div>
      <button class="btn btn-sm btn-default" (click)="resetFilterSelection()">Reset</button>
    </div>
    <div class="col-xs-12 table-container">
      <table class="table">
        <tr>
          <th>#</th>
          <th>Car No</th>
          <th class="text-center">Color</th>
          <th class="text-center">Slot No</th>
          <th class="text-center">Date Time</th>
          <th></th>
        </tr>
        <tr *ngFor="let car of car_parking_tool.car_details | filter : car_parking_tool.parking_number | filter : color; index as i; let first = first ;let last = last;">
          <td [innerText]="i+1"></td>
          <td [innerText]="car.carNumber"></td>
          <td class="text-center" [innerText]="car.carColor"></td>
          <td class="text-center" [innerText]="car.slotNumber"></td>
          <td class="text-center" [innerText]="car.carParkingTime | date"></td>
          <td class="text-center">
            <button class="btn btn-warning" (click)="removeCarDetails(i)">Remove</button>
          </td>
        </tr>
      </table>
      <div *ngIf="car_parking_tool.car_details.length === 0" class="no-results-container">
        <h3 class="no-data-text">No cars parked</h3>
      </div>
    </div>
  </div>
</div>
