.car-parking-form-container {
  max-width: 500px;
  margin: 50px auto;
  .form-group label {
    .required {
      font-size: 12px;
      color: #ED1C24;
      top: -4px;
      position: relative;
      font-weight: 500;
    }
  }
  .form-control {
    &.is-invalid {
      border-color: #ED1C24;
    }
  }
}
